Repository dorgonman/HorizonUIPluginDemo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

.azure-pipelines/editor/azure-pipelines.yml:

name: $(Date:yyyyMMdd).$(Rev:.r)

trigger:
  batch: true
  branches:
    include:
      - master
  paths:
    include:
      - Source/*
      - Plugins/*
      - ./*.uproject

variables:
    - name: Pipeline.EngineVersion 
      value: '0.0.0.0'
    - name: Pipeline.ProjectVersion
      value: '0.0.0.0'
    - name:  Pipeline.GameProjectRoot
      value: '.'
    - name: Pipeline.ArchivePath
      value: '$(Pipeline.GameProjectRoot)/Intermediate/BuildArchive/'
    - name: Pipeline.bNugetVersionAlreadyPushed
      value: 'false'
    - name: Pipeline.NugetLocalFeedPath
      value: '\\\\hsgame\\UE4-Packaged-build\\nuget\\hsgame-local\\HorizonPlugin'
    - name: Pipeline.NugetAzureDevopsFeedName
      value: 'UE4HorizonPlugin'
    - name: Pipeline.NugetOutputDirectory
      value: '$(System.ArtifactsDirectory)/Nuget'

# ==================settable variable at queue time=============
#   PipelineInput.bCleanSCM: true

resources:
  repositories:
    - repository: templates
      type: git
      name: UEHorizonBuildScript/azure-pipelines-template

jobs:
    #- ${ if eq(variables['Pipeline.bBuildWin64'], 'true') }:
    - template: job/build-game-editor.yml@templates
      parameters:
          name: 'Build_Win64_GameEditor'
          group: 'ue4-build-var-win-group'
          pool: 'Default'
          platform: 'win64'

    - template: job/build-game-editor.yml@templates
      parameters:
          name: 'Build_Mac_GameEditor'
          group: 'ue4-build-var-mac-group'
          pool: 'Default-MacOS'
          platform: 'mac'

    - template: job/create-and-push-nuget-package.yml@templates
      parameters:
          name: 'Create_And_Push_Nuget_Package'
          group: 'ue4-build-var-win-group'
          pool: 'Default'
          platform: 'win64'
          dependsOn:
            - 'Build_Win64_GameEditor'
            - 'Build_Mac_GameEditor'

.azure-pipelines/shipping/azure-pipelines.yml:

name: $(Date:yyyyMMdd).$(Rev:.r)

trigger:
  batch: true
  branches:
    include:
      - master
  paths:
    include:
      - Source/*
      - Plugins/*
      - Content/*
      - /*.uproject

variables:
    - name: Pipeline.EngineVersion 
      value: '0.0.0.0'
    - name: Pipeline.ProjectVersion
      value: '0.0.0.0'
    - name:  Pipeline.GameProjectRoot
      value: '.'
    - name: Pipeline.ArchivePath
      value: '$(Pipeline.GameProjectRoot)/Intermediate/BuildArchive/'


# ==================settable variable at queue time=============
#   PipelineInput.bCleanSCM: true

resources:
  repositories:
    - repository: templates
      type: git
      name: UEHorizonBuildScript/azure-pipelines-template

# verify-plugin-build
jobs:
    #- ${ if eq(variables['Pipeline.bBuildWin64'], 'true') }:

    - template: job/verify-plugin-build.yml@templates


    #git push --mirror $(Parameters.github_push_mirror_url)

Implement Gauntlet in GameProject
  Config/DefaultEngine.ini
  Config/DefaultGame.ini
  HorizonUIPluginDemo.uproject
  Source/HorizonUIPluginDemo/GauntletTestControllerHorizonUI.cpp
  Source/HorizonUIPluginDemo/GauntletTestControllerHorizonUI.h
  Source/HorizonUIPluginDemo/HorizonUIPluginDemo.Build.cs
Due: .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

rename Automation Script
  Build/Script/HorizonUIPluginDemo.Automation/HorizonUIPluginDemo.Automation.csproj
  Build/Script/HorizonUIPluginDemo.Automation/HorizonUIPluginDemoTest.cs
  Config/DefaultEngine.ini
  Config/DefaultGame.ini
Due: none

fix feed path for azure devops
  .nuget/install_game_package_from_azure-devops.sh
Due: none

add performance test script
  Config/DefaultEngine.ini
  Config/DefaultGame.ini
  Content/Maps/AutoPage.umap
  Content/Maps/Entry.umap
  Content/Maps/EventTrigger.umap
  Content/Maps/Flipbook.umap
  Content/Maps/HyperTextTest.umap
  Content/Maps/JustificationTest.umap
  Content/Maps/MainMap.umap
  Content/Maps/SoundTest.umap
  Content/Maps/SpriteSheet.umap
  Content/TestMaps/FunctionalTest/UIScreenshotTestMap.umap
  Content/TestMaps/PerformanceTestMap.umap
  Content/TestMaps/TestMap.umap
  readme.md
Due: .azure-pipelines/shipping/azure-pipelines.yml

add default Pipeline.AdditionalTestCommand
  .azure-pipelines/editor/azure-pipelines.yml
Due: none

enable tests
  HorizonUIPluginDemo.uproject
Due: .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

Merged PR 44: implement test_automation
  .azure-pipelines/editor/azure-pipelines.yml
  .gitignore
  Build/Script/HorizonUIPluginDemo.Automation/HorizonUIPluginDemoTest.cs
  Config/DefaultEngine.ini
  Config/DefaultGame.ini
  HorizonUIPluginDemo.uproject
Due: .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

Disable VR for Test Automation
  HorizonUIPluginDemo.uproject
Due: .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

add DirectoriesToAlwaysCook for used Engine sound
  Config/DefaultEngine.ini
  Config/DefaultGame.ini
Due: none

remove unused parameter
  .azure-pipelines/editor/azure-pipelines.yml
Due: none

Update GroundTruth screenshot
  Config/DefaultEngine.ini
  Config/DefaultGame.ini
  Content/Maps/MainMap.umap
  Content/Material/mat_flipbook.uasset
  Content/UMG/DialogueMsgTextTest/Tuto01_Simple.uasset
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto02_RichTextSimple/Windows/D3D11_SM5/9602b57b4acdd5071e2b2be9daa50097.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto02_RichTextSimple/Windows/D3D11_SM5/9602b57b4acdd5071e2b2be9daa50097.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto07_OverflowWarp/Windows/D3D11_SM5/9602b57b4acdd5071e2b2be9daa50097.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto07_OverflowWarp/Windows/D3D11_SM5/9602b57b4acdd5071e2b2be9daa50097.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto08_HyperText/Windows/D3D11_SM5/9602b57b4acdd5071e2b2be9daa50097.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto08_HyperText/Windows/D3D11_SM5/9602b57b4acdd5071e2b2be9daa50097.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto08_HyperText/Windows/D3D11_SM5/fa09d48754b168bc05e171db3e475f25.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto10_StyleInfo/Windows/D3D11_SM5/9602b57b4acdd5071e2b2be9daa50097.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto10_StyleInfo/Windows/D3D11_SM5/9602b57b4acdd5071e2b2be9daa50097.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto11_AutoPage/Windows/D3D11_SM5/9602b57b4acdd5071e2b2be9daa50097.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto11_AutoPage/Windows/D3D11_SM5/9602b57b4acdd5071e2b2be9daa50097.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto12_AutoPage_Long/Windows/D3D11_SM5/9602b57b4acdd5071e2b2be9daa50097.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto12_AutoPage_Long/Windows/D3D11_SM5/9602b57b4acdd5071e2b2be9daa50097.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto12_AutoPage_Long/Windows/D3D11_SM5/fa09d48754b168bc05e171db3e475f25.png
Due: .azure-pipelines/shipping/azure-pipelines.yml

Fix Test Error
  Content/TestMaps/FunctionalTest/UIScreenshotTestMap.umap
Due: .azure-pipelines/shipping/azure-pipelines.yml

passing bRunAutomationTest: true for verify-plugin-build.yml
  .azure-pipelines/shipping/azure-pipelines.yml
Due: none

Merged PR 50: [Feature] HorizonRadioButton
  Config/DefaultEngine.ini
  Config/DefaultGame.ini
  Content/Maps/RadioButton.umap
  Content/TestMaps/Blueprint/BP_FunctionalUIScreenshotTest_WBP_RadioButtonMain.uasset
  Content/TestMaps/FunctionalTest/UIScreenshotTestMap.umap
  Content/TestMaps/Map/FunctionalTest/UIScreenshotTestMap.umap
  Content/TestMaps/Map/PerformanceTestMap.umap
  Content/TestMaps/Map/TestMap.umap
  Content/TestMaps/PerformanceTestMap.umap
  Content/TestMaps/TestMap.umap
  Content/UMG/ButtonUserWidget/WBP_DemoButton.uasset
  Content/UMG/DialogueMsgTextTest/Tuto2_RichTextSimple.uasset
  Content/UMG/DialogueMsgTextTest/Tuto3_RichTextFont.uasset
  Content/UMG/DialogueMsgTextTest/Tuto6_EventTrigger.uasset
  Content/UMG/DialogueMsgTextTest/Tuto8_HyperText.uasset
  Content/UMG/DialogueMsgTextTest/Tuto9_Sound.uasset
  Content/UMG/RadioButton/WBP_DemoRadioButton.uasset
  Content/UMG/RadioButton/WBP_RadioButtonMain.uasset
  Test/Screenshots/UIScreenshotTestMap/BP_FunctionalUIScreenshotTest_WBP_RadioButtonMain/Windows/D3D11_SM5/fa09d48754b168bc05e171db3e475f25.json
  Test/Screenshots/UIScreenshotTestMap/BP_FunctionalUIScreenshotTest_WBP_RadioButtonMain/Windows/D3D11_SM5/fa09d48754b168bc05e171db3e475f25.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto10_StyleInfo/Windows/D3D11_SM5/9602b57b4acdd5071e2b2be9daa50097.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto10_StyleInfo/Windows/D3D11_SM5/fa09d48754b168bc05e171db3e475f25.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto10_StyleInfo/Windows/D3D11_SM5/fa09d48754b168bc05e171db3e475f25.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto11_AutoPage/Windows/D3D11_SM5/9602b57b4acdd5071e2b2be9daa50097.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto11_AutoPage/Windows/D3D11_SM5/fa09d48754b168bc05e171db3e475f25.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto11_AutoPage/Windows/D3D11_SM5/fa09d48754b168bc05e171db3e475f25.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto12_AutoPage_Long/Windows/D3D11_SM5/9602b57b4acdd5071e2b2be9daa50097.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto12_AutoPage_Long/Windows/D3D11_SM5/fa09d48754b168bc05e171db3e475f25.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto12_AutoPage_Long/Windows/D3D11_SM5/fa09d48754b168bc05e171db3e475f25.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_WBP_RadioButtonMain/Windows/D3D11_SM5/fa09d48754b168bc05e171db3e475f25.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_WBP_RadioButtonMain/Windows/D3D11_SM5/fa09d48754b168bc05e171db3e475f25.png
  git_checkout_submodules.sh
Due: .azure-pipelines/shipping/azure-pipelines.yml

fix MapsToCook
  Config/DefaultGame.ini
Due: none

refactor pipeline
  .azure-pipelines/editor/azure-pipelines.yml
  .azure-pipelines/shipping/azure-pipelines.yml
Due: none

update submodule
  .gitmodules
Due: none

cache nuget package and copy target package from cache
  .nuget/install_game_package.sh
  .nuget/install_game_package_from_hsgame-locall.sh
Due: none

refactor nuget install script
  .nuget/install_game_package.sh
  .nuget/install_game_package_from_azure-devops.sh
  .nuget/install_game_package_from_hsgame-local.sh
  .nuget/install_game_package_from_hsgame-locall.sh
  .nuget/install_game_package_from_nuget_org.sh
Due: none

fix nuget install
  .nuget/install_game_package.sh
Due: none

#1016 New: [UHorizonDialogueMsgTextBlock] Implement CharAdvancedDelegate, so user can add the typewriter sound in this callback
  Content/Audio/SoundEffect/SE_CharAdvanced.uasset
  Content/Audio/SoundEffect/SE_CharAdvanced_Cue.uasset
  Content/UMG/DialogueMsgTextTest/Tuto12_AutoPage_Long.uasset
Due: .azure-pipelines/shipping/azure-pipelines.yml

adjust CharAdvancedDelegate demo for typewriter sound effect
  Content/UMG/DialogueMsgTextTest/Tuto12_AutoPage_Long.uasset
Due: .azure-pipelines/shipping/azure-pipelines.yml

[Submodule] update to 4.24
  Config/DefaultGame.ini
  HorizonUIPluginDemo.uproject
  Source/HorizonUIPluginDemo.Target.cs
  Source/HorizonUIPluginDemo/MyWidgetFunctionLibrary.h
  Source/HorizonUIPluginDemoEditor.Target.cs
  readme.md
Due: .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

[Fix] BuildSettingsVersion.V2 and add StrictIncludes to Editor build
  Source/HorizonUIPluginDemo.Target.cs
  Source/HorizonUIPluginDemoEditor.Target.cs
Due: .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

Add New Feature for UHorizonDialogueMsgTextBlock
  Content/UMG/DialogueMsgTextTest/Tuto06_EventTrigger.uasset
  readme.md
Due: .azure-pipelines/shipping/azure-pipelines.yml
