Repository dorgonman/HorizonUIPluginDemo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

.azure-pipelines/editor/azure-pipelines.yml:
  name: $(Date:yyyyMMdd).$(Rev:.r)
  jobs:
  - template: job/build-game-editor.yml@templates
    parameters:
      name: Build_Win64_GameEditor
      group: ue4-build-var-win-group
      pool: Default
      platform: win64
  - template: job/build-game-editor.yml@templates
    parameters:
      name: Build_Mac_GameEditor
  ...

.azure-pipelines/shipping/azure-pipelines.yml:
  name: $(Date:yyyyMMdd).$(Rev:.r)
  jobs:
  - template: job/verify-plugin-build.yml@templates

fix install_game_package_from_nuget_org.sh
  install_game_package_from_nuget_org.sh
Due: none

Update to 4.25
  Config/DefaultGame.ini
  HorizonUIPluginDemo.uproject
  Source/HorizonUIPluginDemo.Target.cs
  readme.md
Due: .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

Disable Mac Editor build for now
  .azure-pipelines/editor/azure-pipelines.yml
Due: none

[AzurePipeline] Fix Build error
  .azure-pipelines/editor/azure-pipelines.yml
Due: none

[AzurePipeline] Remove Variable Pipeline.ArchivePath
  .azure-pipelines/shipping/azure-pipelines.yml
Due: none

[AzurePipeline] enable mac build
  .azure-pipelines/editor/azure-pipelines.yml
Due: none

AB#1508 [BugFix] UE4.25 Build Failled: ANDROID_BUILD_TOOLS_GRADLE_VERSION
  Build/Android/project.properties
  Build/Android/res/drawable-hdpi/icon.png
  Build/Android/res/drawable-ldpi/icon.png
  Build/Android/res/drawable-mdpi/icon.png
  Build/Android/res/drawable-nodpi/vr_icon.png
  Build/Android/res/drawable-nodpi/vr_icon_background.png
  Build/Android/res/drawable-xhdpi/icon.png
  Build/Android/res/drawable/downloadimageh.png
  Build/Android/res/drawable/downloadimagev.png
  Build/Android/res/drawable/icon.png
  Build/Android/res/drawable/splashscreen_landscape.png
  Build/Android/res/drawable/splashscreen_portrait.png
  Build/Android/res/values/GooglePlayAppID.xml
  Build/Android/src/com/epicgames/ue4/DownloadShim.java
  Build/Android/src/com/horizon/uidemo/AlarmReceiver.java
  Build/Android/src/com/horizon/uidemo/DownloaderActivity.java
  Build/Android/src/com/horizon/uidemo/OBBData.java
  Build/Android/src/com/horizon/uidemo/OBBDownloaderService.java
  Config/DefaultEngine.ini
  Config/DefaultGame.ini
  Source/Game_UPL.xml
  Source/HorizonUIPluginDemo/HorizonUIPluginDemo.Build.cs
Due: .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

Fix Default ProjectPath
  Source/HorizonUIPluginDemo/HorizonUIPluginDemo.Build.cs
Due: .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

[Refactor] rename Source\Game_UPL.xml to Source\Game_APL.xml
  Source/Game_APL.xml
  Source/HorizonUIPluginDemo/HorizonUIPluginDemo.Build.cs
Due: .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

[Refactor] change from APL to UPL
  Source/Game_UPL.xml
  Source/HorizonUIPluginDemo/HorizonUIPluginDemo.Build.cs
Due: .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

[Doc] Add UPL doc URL
  Source/HorizonUIPluginDemo/HorizonUIPluginDemo.Build.cs
Due: .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

Enable mac build
  .azure-pipelines/editor/azure-pipelines.yml
Due: none

Fix 4.25 automation test
  Build/Script/HorizonUIPluginDemo.Automation/HorizonUIPluginDemoTest.cs
  Config/DefaultEngine.ini
  Config/DefaultGame.ini
  Content/TestMaps/Map/FunctionalTest/UIScreenshotTestMap.umap
  Content/UMG/DialogueMsgTextTest/Tuto05_RichTextSpecialCharacter.uasset
  Content/UMG/DialogueMsgTextTest/Tuto06_EventTrigger.uasset
  Content/UMG/DialogueMsgTextTest/Tuto11_AutoPage.uasset
  Content/UMG/DialogueMsgTextTest/Tuto12_AutoPage_Long.uasset
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto06_EventTrigger/Windows/D3D11_SM5/fa09d48754b168bc05e171db3e475f25.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto06_EventTrigger/Windows/D3D11_SM5/fa09d48754b168bc05e171db3e475f25.png
Due: .azure-pipelines/shipping/azure-pipelines.yml

[Revision] Fix 4.25 compile error
  Config/DefaultEngine.ini
  Config/DefaultGame.ini
  Content/UMG/FlipbookWidget/FlipbookWidgetTest.uasset
  Source/HorizonUIPluginDemo/MyWidgetFunctionLibrary.h
  sonar-project.properties
Due: .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

[Doc] Update readme.md
  readme.md
Due: none

[AzurePipeline] Add parameter.bCleanSCM
  .azure-pipelines/editor/azure-pipelines.yml
  .azure-pipelines/shipping/azure-pipelines.yml
Due: none

[Submodule] Update to 4.25
  readme.md
Due: none

[BugFix] Fix failed to load file error msg
  Content/UMG/DialogueMsgTextTest/Tuto05_RichTextSpecialCharacter.uasset
  Content/UMG/DialogueMsgTextTest/Tuto06_EventTrigger.uasset
  Content/UMG/DialogueMsgTextTest/Tuto11_AutoPage.uasset
  Content/UMG/DialogueMsgTextTest/Tuto12_AutoPage_Long.uasset
Due: .azure-pipelines/shipping/azure-pipelines.yml

[Revision] Fix 4.25 compile error
  Content/UMG/FlipbookWidget/FlipbookWidgetTest.uasset
Due: .azure-pipelines/shipping/azure-pipelines.yml

[New] Add Tuto16_RubyText.uasset
  Content/UMG/DialogueMsgTextTest/Tuto16_RubyText.uasset
Due: .azure-pipelines/shipping/azure-pipelines.yml

[New] Add RubyTextTest map and Add Screenshot
  Config/DefaultGame.ini
  Content/Maps/Entry.umap
  Content/Maps/RubyTextTest.umap
  Content/TestMaps/Map/FunctionalTest/UIScreenshotTestMap.umap
  Content/UMG/DialogueMsgTextTest/Tuto16_RubyText.uasset
  Content/UMG/MapSelection.uasset
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto16_RubyText/Windows/D3D11_SM5/9602b57b4acdd5071e2b2be9daa50097.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto16_RubyText/Windows/D3D11_SM5/9602b57b4acdd5071e2b2be9daa50097.png
Due: .azure-pipelines/shipping/azure-pipelines.yml

[New] Add Functional Test for Decorator
  Content/TestMaps/Map/FunctionalTest/UIScreenshotTestMap.umap
  Content/UMG/DialogueMsgTextTest/Tuto17_Decoration.uasset
  Content/UMG/DialogueMsgTextTest/Tuto17_Decorator.uasset
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto17_Decorator/Windows/D3D11_SM5/9602b57b4acdd5071e2b2be9daa50097.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto17_Decorator/Windows/D3D11_SM5/9602b57b4acdd5071e2b2be9daa50097.png
Due: .azure-pipelines/shipping/azure-pipelines.yml

Update Demo Content\UMG\DialogueMsgTextTest\Tuto02_RichTextSimple.uasset
  Content/UMG/DialogueMsgTextTest/Tuto02_RichTextSimple.uasset
Due: .azure-pipelines/shipping/azure-pipelines.yml

Add demo WBP
  Content/Demo/Widget/WBP_Demo.uasset
Due: .azure-pipelines/shipping/azure-pipelines.yml

[Revision] Add Demo DialogueTextBlock
  Content/Demo/Widget/WBP_Demo.uasset
Due: .azure-pipelines/shipping/azure-pipelines.yml

[Revision] Implement Multitoggle button
  Content/Maps/MutiToggleButton.umap
  Content/UMG/MultiToggleButton/WBP_DemoMultiToggleButton.uasset
  Content/UMG/MultiToggleButton/WBP_MultiToggleButtonMain.uasset
Due: .azure-pipelines/shipping/azure-pipelines.yml

Add .nuget\pack_and_init_game_package_to_local.sh
  .nuget/pack_and_init_game_package_to_local.sh
Due: none

Update ScreenShot\HorizonUI_Thumb.png
  ScreenShot/HorizonUI_Thumb.png
Due: none

Path conditions:
  .azure-pipelines/editor/azure-pipelines.yml: any of: Source, Plugins, *.uproject
  .azure-pipelines/shipping/azure-pipelines.yml: any of: Source, Plugins, Content, *.uproject
