Repository dorgonman/HorizonUIPluginDemo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

.azure-pipelines/editor/azure-pipelines.yml:
  name: $(Date:yyyyMMdd).$(Rev:.r)
  jobs:
  - template: job/build-game-editor.yml@templates
    parameters:
      name: Build_Win64_GameEditor
      group: ue4-build-var-win-group
      pool: Default
      platform: win64
  - template: job/build-game-editor.yml@templates
    parameters:
      name: Build_Mac_GameEditor
  ...

.azure-pipelines/shipping/azure-pipelines.yml:
  name: $(Date:yyyyMMdd).$(Rev:.r)
  jobs:
  - template: job/verify-plugin-build.yml@templates

update nuget install script and refactor pipeline
  .azure-pipelines/editor/azure-pipelines.yml
  .nuget/install_game_package.sh
Due: none

update readme.md
  readme.md
Due: none

up .nuget\HorizonUIPluginDemo.nuspec
  .nuget/HorizonUIPluginDemo.nuspec
Due: none

update
  .nuget/HorizonUIPluginDemo.nuspec
Due: none

print current page text and current page length
  Content/UMG/DialogueMsgTextTest/Tuto12_AutoPage_Long.uasset
Due: .azure-pipelines/shipping/azure-pipelines.yml

AB#752: [UHorizonDialogueMsgTextBlock] implement Wait for Dialogue Segment, ex: <text wait="2.5">1234</text> will wail 2.5 second before display msg.
  Content/UMG/DialogueMsgTextTest/Tuto06_EventTrigger.uasset
  readme.md
Due: .azure-pipelines/shipping/azure-pipelines.yml

add sonar-project.properties
  .azure-pipelines/shipping/azure-pipelines.yml
  sonar-project.properties
Due: none

implement download script
  .azure-pipelines/download/win64/download.ps1
Due: none

add .azure-pipelines\download\win64\download.cmd
  .azure-pipelines/download/win64/download.cmd
  .azure-pipelines/download/win64/download.ps1
Due: none

add size to content example
  Content/UMG/DialogueMsgTextTest/Tuto01_Simple.uasset
Due: .azure-pipelines/shipping/azure-pipelines.yml

AB#833 BugFix: Size to Content not working
  readme.md
Due: none

Update readme.md
  readme.md
Due: none

update private feed path
  readme.md
Due: none

BugFix: [UHorizonDialogueMsgTextBlock] WidgetBackgroundWeakPtr Justification Refactor: Structure Category
  Config/DefaultEngine.ini
  Config/DefaultGame.ini
  HorizonUIPluginDemo.uproject
  readme.md
Due: .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

BugFix: Fix using Flipbook in UHorizonDialogueMsgTextBlock
  readme.md
Due: none

update to 4.23
  readme.md
Due: none

Bugfix: [UHorizonDialogueMsgTextBlock] remove DefaultButtonStyleWidgetClass
  Content/UMG/DialogueMsgTextTest/Tuto08_HyperText.uasset
Due: .azure-pipelines/shipping/azure-pipelines.yml

enable blueprint nativization
  Config/DefaultGame.ini
Due: none

Implement Symbolic link from ${UE4_ENGINE_ROOT}/Engine to ${PROJECT_ROOT}/../Engine
  .azure-pipelines/editor/azure-pipelines.yml
Due: none

update script
  .gitignore
Due: none

Add Test/Report submodule
  .gitmodules
Due: none

Update Submodule
  .gitignore
  readme.md
Due: none

Path conditions:
  .azure-pipelines/editor/azure-pipelines.yml: any of: Source, Plugins, *.uproject
  .azure-pipelines/shipping/azure-pipelines.yml: any of: Source, Plugins, Content, *.uproject
