Repository dorgonman/HorizonUIPluginDemo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

.azure-pipelines/editor/azure-pipelines.yml:

name: $(Date:yyyyMMdd).$(Rev:.r)

trigger:
  batch: true
  branches:
    include:
      - master
  paths:
    include:
      - Source/*
      - Plugins/*
      - ./*.uproject

variables:
    - name:  Pipeline.GameProjectRoot
      value: '.'
    - name: Pipeline.ArchivePath
      value: '$(Pipeline.GameProjectRoot)/Intermediate/BuildArchive/'
    - name: Pipeline.NugetLocalFeedPath
      value: '\\\\hsgame\\UE4-Packaged-build\\nuget\\hsgame-local\\HorizonPlugin'
    - name: Pipeline.NugetAzureDevopsFeedName
      value: 'UE4HorizonPlugin'


parameters:
  - name: bCleanSCM
    displayName: Pipeline bCleanSCM
    type: boolean
    default: false
    values:
    - true
    - false


resources:
  repositories:
    - repository: templates
      type: git
      name: UEHorizonBuildScript/azure-pipelines-template

stages:
  - stage: Build
    jobs:
    - template: job/build-game-editor.yml@templates
      parameters:
          name: 'Build_Win64_GameEditor'
          group: 'ue4-build-var-win-group'
          pool: 'Default'
          platform: 'win64'
          bCleanSCM: ${{ parameters.bCleanSCM }}

    - template: job/build-game-editor.yml@templates
      parameters:
          name: 'Build_Mac_GameEditor'
          group: 'ue4-build-var-mac-group'
          pool: 'Default-MacOS'
          platform: 'mac'
          bCleanSCM: ${{ parameters.bCleanSCM }}
    
  - stage: Test
    jobs: 
    - template: job/upload-sonarqube.yml@templates
      parameters:
          name: 'Upload_SonarQube'
          group: 'ue4-build-var-win-group'
          pool: 'Default'
          platform: 'win64'

  - stage: Deploy
    jobs:
    - template: job/create-and-push-nuget-package.yml@templates
      parameters:
          name: 'Create_And_Push_Nuget_Package'
          group: 'ue4-build-var-win-group'
          pool: 'Default'
          platform: 'win64'

.azure-pipelines/shipping/azure-pipelines.yml:

name: $(Date:yyyyMMdd).$(Rev:.r)

trigger:
  batch: true
  branches:
    include:
      - master
  paths:
    include:
      - Source/*
      - Plugins/*
      - Content/*
      - /*.uproject

variables:
    - name:  Pipeline.GameProjectRoot
      value: '.'


parameters:
  - name: bCleanSCM
    displayName: Pipeline bCleanSCM
    type: boolean
    default: false
    values:
    - true
    - false

resources:
  repositories:
    - repository: templates
      type: git
      name: UEHorizonBuildScript/azure-pipelines-template

# verify-plugin-build
jobs:
    #- ${ if eq(variables['Pipeline.bBuildWin64'], 'true') }:

    - template: job/verify-plugin-build.yml@templates
      parameters: 
          bRunAutomationTest: true
          bCleanSCM: ${{ parameters.bCleanSCM }}

[Submodule][New] Update Plugins\HorizonUIPlugin and Add NewPage tag <p> demo
  Content/Maps/NewPageTag.umap
  Content/TestMaps/Map/FunctionalTest/UIScreenshotTestMap.umap
  Content/UMG/DialogueMsgTextTest/Tuto05_RichTextSpecialCharacter.uasset
  Content/UMG/DialogueMsgTextTest/Tuto18_NewPageTag.uasset
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto02_RichTextSimple/Windows/D3D11_SM5/9602b57b4acdd5071e2b2be9daa50097.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto02_RichTextSimple/Windows/D3D11_SM5/fa09d48754b168bc05e171db3e475f25.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto02_RichTextSimple/Windows/D3D11_SM5/fa09d48754b168bc05e171db3e475f25.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto18_NewPageTag/Windows/D3D11_SM5/fa09d48754b168bc05e171db3e475f25.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto18_NewPageTag/Windows/D3D11_SM5/fa09d48754b168bc05e171db3e475f25.png
Due: .azure-pipelines/shipping/azure-pipelines.yml

[Doc] Update 4.26 release note
  ScreenShot/Decorator/Decorator1.png
  ScreenShot/Decorator/Decorator2.png
  ScreenShot/Decorator/Decorator3.png
  readme.md
Due: none

AB#1758 GITHUB#6 [BugFix] Remove empty line with only space and skip space char at beginning of line for some edge case
  Content/Demo/Widget/WBP_Demo.uasset
  Content/TestMaps/Map/FunctionalTest/UIScreenshotTestMap.umap
  Content/UMG/DialogueMsgTextTest/Tuto12_AutoPage_Long.uasset
  Content/UMG/DialogueMsgTextTest/WBP_TestEdgeCase.uasset
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_EdgeCaseTest/Windows/D3D11_SM5/fa09d48754b168bc05e171db3e475f25.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_EdgeCaseTest/Windows/D3D11_SM5/fa09d48754b168bc05e171db3e475f25.png
Due: .azure-pipelines/shipping/azure-pipelines.yml

[Doc] Update readme.md
  readme.md
Due: none

[Revision] Update to 4.26
  Config/DefaultEngine.ini
  Config/DefaultGame.ini
  HorizonUIPluginDemo.uproject
  sonar-project.properties
Due: .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

AB#1777 [Refactor] Fix Typo from EHorizonDialogueTextOverflowWarpMethod to EHorizonDialogueTextOverflowWrapMethod
  Content/UMG/DialogueMsgTextTest/Tuto07_OverflowWarp.uasset
  Content/UMG/DialogueMsgTextTest/Tuto08_HyperText.uasset
  Content/UMG/DialogueMsgTextTest/Tuto11_AutoPage.uasset
  readme.md
  sonar-project.properties
Due: .azure-pipelines/shipping/azure-pipelines.yml

[New] Implement Getter and Setter for EHorizonDialogueTextOverflowWrapMethod
  Content/UMG/DialogueMsgTextTest/Tuto07_OverflowWarp.uasset
Due: .azure-pipelines/shipping/azure-pipelines.yml

[Submodule] Update Plugins\HorizonUIPlugin and Fix Content\Demo\Widget\WBP_Demo.uasset
  Content/Demo/Widget/WBP_Demo.uasset
Due: .azure-pipelines/shipping/azure-pipelines.yml

[Demo] Add auto install nuget package and prerequisite using chocolate
  install_game_package_from_nuget_org.cmd
  install_game_package_from_nuget_org.ps1
  readme.md
Due: none

[BugFix] Fix azure-pipelines checkout failed
  .gitmodules
Due: none

Update game version and ue_ci_scripts
  Config/DefaultEngine.ini
  Config/DefaultGame.ini
  sonar-project.properties
Due: none

[CI] Update sonar-project.properties
  sonar-project.properties
Due: none

Fix Automation test failed
  Content/UMG/DialogueMsgTextTest/Tuto12_AutoPage_Long.uasset
Due: .azure-pipelines/shipping/azure-pipelines.yml

[CI] Fix sonarqube code coverage
  .azure-pipelines/editor/azure-pipelines.yml
  .azure-pipelines/shipping/azure-pipelines.yml
  .gitignore
  Config/DefaultEngine.ini
  Config/DefaultGame.ini
  readme.md
  sonar-project.properties
Due: none

Merged PR 89: [BugFix][HorizonDialogueMsgTextBlock] Fix auto page padding bugs
  Content/Maps/PaddingMarginTopWithDialoguePage.umap
  Content/TestMaps/Map/FunctionalTest/UIScreenshotTestMap.umap
  Content/UMG/DialogueMsgTextTest/BugReport/WBP_AutopagePadding.uasset
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_AutopagePadding/Windows/D3D11_SM5/_r2jzcorpkws-rx17jr1ha.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_AutopagePadding/Windows/D3D11_SM5/_r2jzcorpkws-rx17jr1ha.png
  readme.md
Due: .azure-pipelines/shipping/azure-pipelines.yml

Update submodules
  .azure-pipelines/editor/azure-pipelines.yml
  .azure-pipelines/shipping/azure-pipelines.yml
Due: none

* AB#1843 [New][HorizonRadioButtonUserWidget] Implement BP_OnCheckStateChanged Callback
  Content/UMG/RadioButton/WBP_DemoRadioButton.uasset
  Content/UMG/RadioButton/WBP_RadioButtonMain.uasset
Due: .azure-pipelines/shipping/azure-pipelines.yml

[Refactor] HorizonMultiToggleButtonWidget: change ToggleState_Left and ToggleState_Right to ToggleState_Prev and ToggleState_Next
  Content/UMG/MultiToggleButton/WBP_DemoMultiToggleButton.uasset
Due: .azure-pipelines/shipping/azure-pipelines.yml

[Submodule] Update Plugins\HorizonUIPlugin and Fix Test Automation ScreenShot
  Content/TestMaps/Map/FunctionalTest/UIScreenshotTestMap.umap
  Content/UMG/DialogueMsgTextTest/BugReport/WBP_AutoPageLine.uasset
  Content/UMG/DialogueMsgTextTest/Tuto15_NoCanvasPanelAndSizeBox.uasset
  Test/Screenshots/UIScreenshotTestMap/BP_FunctionalUIScreenshotTest_WBP_RadioButtonMain/Windows/D3D11_SM5/fa09d48754b168bc05e171db3e475f25.png
  Test/Screenshots/UIScreenshotTestMap/BP_FunctionalUIScreenshotTest_WBP_RadioButtonMain/Windows/D3D11_SM5/kiyyj_12zuyh3kcixi113g.json
  Test/Screenshots/UIScreenshotTestMap/BP_FunctionalUIScreenshotTest_WBP_RadioButtonMain/Windows/D3D11_SM5/kiyyj_12zuyh3kcixi113g.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_AutoPageLine/Windows/D3D11_SM5/kiyyj_12zuyh3kcixi113g.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_AutoPageLine/Windows/D3D11_SM5/kiyyj_12zuyh3kcixi113g.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_AutopagePadding/Windows/D3D11_SM5/_r2jzcorpkws-rx17jr1ha.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_AutopagePadding/Windows/D3D11_SM5/kiyyj_12zuyh3kcixi113g.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_AutopagePadding/Windows/D3D11_SM5/kiyyj_12zuyh3kcixi113g.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto01_Simple/Windows/D3D11_SM5/9602b57b4acdd5071e2b2be9daa50097.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto01_Simple/Windows/D3D11_SM5/kiyyj_12zuyh3kcixi113g.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto01_Simple/Windows/D3D11_SM5/kiyyj_12zuyh3kcixi113g.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto06_EventTrigger/Windows/D3D11_SM5/9602b57b4acdd5071e2b2be9daa50097.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto06_EventTrigger/Windows/D3D11_SM5/9602b57b4acdd5071e2b2be9daa50097.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto06_EventTrigger/Windows/D3D11_SM5/fa09d48754b168bc05e171db3e475f25.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto06_EventTrigger/Windows/D3D11_SM5/kiyyj_12zuyh3kcixi113g.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto06_EventTrigger/Windows/D3D11_SM5/kiyyj_12zuyh3kcixi113g.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto11_AutoPage/Windows/D3D11_SM5/fa09d48754b168bc05e171db3e475f25.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto11_AutoPage/Windows/D3D11_SM5/fa09d48754b168bc05e171db3e475f25.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto11_AutoPage/Windows/D3D11_SM5/kiyyj_12zuyh3kcixi113g.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto11_AutoPage/Windows/D3D11_SM5/kiyyj_12zuyh3kcixi113g.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto12_AutoPage_Long/Windows/D3D11_SM5/fa09d48754b168bc05e171db3e475f25.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto12_AutoPage_Long/Windows/D3D11_SM5/kiyyj_12zuyh3kcixi113g.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto12_AutoPage_Long/Windows/D3D11_SM5/kiyyj_12zuyh3kcixi113g.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto15_NoCanvasPanelAndSizeBox/Windows/D3D11_SM5/9602b57b4acdd5071e2b2be9daa50097.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto15_NoCanvasPanelAndSizeBox/Windows/D3D11_SM5/9602b57b4acdd5071e2b2be9daa50097.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto15_NoCanvasPanelAndSizeBox/Windows/D3D11_SM5/kiyyj_12zuyh3kcixi113g.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto15_NoCanvasPanelAndSizeBox/Windows/D3D11_SM5/kiyyj_12zuyh3kcixi113g.png
Due: .azure-pipelines/shipping/azure-pipelines.yml

[Submodule] Update Plugins\HorizonUIPlugin version and readme.md
  readme.md
Due: none

[Refactor] Rename default branch from master to main
  .azure-pipelines/azure-pipelines.yml
  .azure-pipelines/editor/azure-pipelines.yml
  .nuget/install_game_package_from_azure-devops.sh
  .nuget/install_game_package_from_hsgame-local.sh
  .nuget/install_game_package_from_local.sh
  .nuget/pack_and_init_game_package_to_local.sh
  git_checkout_main.sh
  git_checkout_main_no_install.sh
  git_checkout_master.sh
  git_checkout_master_no_install.sh
  git_checkout_submodules.sh
  git_reset_main.sh
  git_reset_master.sh
Due: none

Update readme.md
  readme.md
Due: none

Implement ChangeDialogueSpeed demo
  Content/Maps/ChangeDialogueSpeed.umap
  Content/UMG/DialogueMsgTextTest/Tuto19_ChangeDialogueSpeed.uasset
Due: .azure-pipelines/shipping/azure-pipelines.yml

[Submodule] Update plugin to 4.27
  Config/DefaultEngine.ini
  Config/DefaultGame.ini
  HorizonUIPluginDemo.uproject
  readme.md
  sonar-project.properties
Due: .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

AB#2177 [BugFix] TextOverflowWarpNormal should break segment text to next line
  Content/TestMaps/Map/FunctionalTest/UIScreenshotTestMap.umap
  Content/UMG/DialogueMsgTextTest/BugReport/WBP_TextOverflowWarpNormal_WithTextSegment.uasset
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_TextOverflowWarpNormal_WithTextSegment/Windows/D3D11_SM5/h09bcb_bluspcwwe5j2nba.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_TextOverflowWarpNormal_WithTextSegment/Windows/D3D11_SM5/h09bcb_bluspcwwe5j2nba.png
Due: .azure-pipelines/shipping/azure-pipelines.yml

[Submodule] Update Plugins\HorizonUIPlugin
  readme.md
Due: none

[Submodule] update Plugins\HorizonUIPlugin
  readme.md
Due: none

[AutomationTest] Add FORCELOGFLUSH to commandline
  Build/Script/HorizonUIPluginDemo.Automation/HorizonUIPluginDemoTest.cs
Due: none

Update nuspec iconurl
  .nuget/HorizonUIPluginDemo.nuspec
Due: none

[Submodule] Update submodule url from UE4HorizonPlugin to UEHorizonPlugin
  .gitmodules
Due: none

Add BugReport Asset
  Content/UMG/DialogueMsgTextTest/BugReport/WBP_DialogueWindow.uasset
Due: .azure-pipelines/shipping/azure-pipelines.yml

[Automation] Add TestCase WBP_DialogueWindow
  Content/TestMaps/Map/FunctionalTest/UIScreenshotTestMap.umap
  Test/Screenshots/UIScreenshotTestMap/BP_FunctionalUIScreenshotTest_BugReport_WBP_DialogueWindow/Windows/D3D11_SM5/jd-gy-v6e0wgofe14mcnrw.json
  Test/Screenshots/UIScreenshotTestMap/BP_FunctionalUIScreenshotTest_BugReport_WBP_DialogueWindow/Windows/D3D11_SM5/jd-gy-v6e0wgofe14mcnrw.png
Due: .azure-pipelines/shipping/azure-pipelines.yml

Update AutomationTest ScreenShot
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto08_HyperText/Windows/D3D11_SM5/9602b57b4acdd5071e2b2be9daa50097.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto08_HyperText/Windows/D3D11_SM5/kbp0izjnnegqx8o12ramvw.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto08_HyperText/Windows/D3D11_SM5/kbp0izjnnegqx8o12ramvw.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto13_Justification/Windows/D3D11_SM5/9602b57b4acdd5071e2b2be9daa50097.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto13_Justification/Windows/D3D11_SM5/kbp0izjnnegqx8o12ramvw.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto13_Justification/Windows/D3D11_SM5/kbp0izjnnegqx8o12ramvw.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto14_SpriteSheet/Windows/D3D11_SM5/9602b57b4acdd5071e2b2be9daa50097.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto14_SpriteSheet/Windows/D3D11_SM5/kbp0izjnnegqx8o12ramvw.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto14_SpriteSheet/Windows/D3D11_SM5/kbp0izjnnegqx8o12ramvw.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto17_Decorator/Windows/D3D11_SM5/9602b57b4acdd5071e2b2be9daa50097.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto17_Decorator/Windows/D3D11_SM5/kbp0izjnnegqx8o12ramvw.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto17_Decorator/Windows/D3D11_SM5/kbp0izjnnegqx8o12ramvw.png
Due: none
