Repository dorgonman/HorizonUIPluginDemo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

.azure-pipelines/azure-pipelines.yml:
  name: $(Date:yyyyMMdd).$(Rev:.r)
  jobs:
  - template: job/verify-plugin-build.yml@templates
    parameters:
      bRunAutomationTest: true
      bCleanSCM: ${{ parameters.bCleanSCM }}
      bBuildWin64: ${{ parameters.bBuildWin64 }}
      bBuildAndroid: ${{ parameters.bBuildAndroid }}
  ...

.azure-pipelines/editor/azure-pipelines.yml:
  name: $(Date:yyyyMMdd).$(Rev:.r)
  stages:
  - stage: Build
    jobs:
    - template: job/build-game-editor.yml@templates
      parameters:
        name: Build_Win64_GameEditor
        group: ue4-build-var-win-group
        pool: Default
        platform: win64
        bCleanSCM: ${{ parameters.bCleanSCM }}
  ...

.azure-pipelines/shipping/azure-pipelines.yml:
  name: $(Date:yyyyMMdd).$(Rev:.r)
  jobs:
  - template: job/verify-plugin-build.yml@templates
    parameters:
      bRunAutomationTest: true
      bCleanSCM: ${{ parameters.bCleanSCM }}
      bBuildWin64: ${{ parameters.bBuildWin64 }}
      bBuildAndroid: ${{ parameters.bBuildAndroid }}
  ...

Merged PR 244: [EngineUpgrade] 5.3
  .editorconfig
  .gitignore
  .vsconfig
  Config/DefaultEngine.ini
  Config/DefaultGame.ini
  Content/TestMaps/Map/FunctionalTest/UIScreenshotTestMap.umap
  HorizonUIPluginDemo.uproject
  Source/HorizonUIPluginDemo.Target.cs
  Source/HorizonUIPluginDemoEditor.Target.cs
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_AutoPageLine/Windows/D3D12_SM5/c5xzqkgjmvg6s6u8m2hg9a.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_AutoPageLine/Windows/D3D12_SM5/c5xzqkgjmvg6s6u8m2hg9a.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_AutoPageLine/Windows/D3D12_SM5/kiyyj_12zuyh3kcixi113g.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto11_AutoPage/Windows/D3D12_SM5/c5xzqkgjmvg6s6u8m2hg9a.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto11_AutoPage/Windows/D3D12_SM5/c5xzqkgjmvg6s6u8m2hg9a.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto11_AutoPage/Windows/D3D12_SM5/kiyyj_12zuyh3kcixi113g.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto12_AutoPage_Long/Windows/D3D12_SM5/c5xzqkgjmvg6s6u8m2hg9a.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto12_AutoPage_Long/Windows/D3D12_SM5/c5xzqkgjmvg6s6u8m2hg9a.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto12_AutoPage_Long/Windows/D3D12_SM5/kiyyj_12zuyh3kcixi113g.png
  readme.md
  sonar-project.properties
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

AB#2986 [BugFix] Fix Warning: Property ObjectProperty contains short type name
  Source/HorizonUIPluginDemo/Public/Decorator/DemoDialogueInputIconDecorator.h
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

Merged PR 272: [Upgrade] 5.4
  Build/Script/HorizonUIPluginDemo.Automation/HelloWorld.Automation.cs
  Build/Script/HorizonUIPluginDemo.Automation/HorizonUIPluginDemo.Automation.csproj
  Config/DefaultEngine.ini
  Config/DefaultGame.ini
  HorizonUIPluginDemo.uproject
  readme.md
  sonar-project.properties
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

Fix 5.4 AutomationTest error
  Content/UMG/DialogueMsgTextTest/Tuto04_RichTextPadding.uasset
  Content/UMG/DialogueMsgTextTest/Tuto12_AutoPage_Long.uasset
  Content/UMG/DialogueMsgTextTest/Tuto13_Justification.uasset
  Test/Screenshots/UIScreenshotTestMap/BP_FunctionalUIScreenshotTest_BugReport_WBP_SizeToContent/Windows/D3D12_SM5/vf-ljeuznosfblk3yiimca.json
  Test/Screenshots/UIScreenshotTestMap/BP_FunctionalUIScreenshotTest_BugReport_WBP_SizeToContent/Windows/D3D12_SM5/vf-ljeuznosfblk3yiimca.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto02_RichTextSimple/Windows/D3D12_SM5/vf-ljeuznosfblk3yiimca.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto02_RichTextSimple/Windows/D3D12_SM5/vf-ljeuznosfblk3yiimca.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto04_RichTextPadding/Windows/D3D12_SM5/9602b57b4acdd5071e2b2be9daa50097.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto04_RichTextPadding/Windows/D3D12_SM5/vf-ljeuznosfblk3yiimca.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto04_RichTextPadding/Windows/D3D12_SM5/vf-ljeuznosfblk3yiimca.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto07_OverflowWarp/Windows/D3D12_SM5/vf-ljeuznosfblk3yiimca.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto07_OverflowWarp/Windows/D3D12_SM5/vf-ljeuznosfblk3yiimca.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto12_AutoPage_Long/Windows/D3D12_SM5/c5xzqkgjmvg6s6u8m2hg9a.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto12_AutoPage_Long/Windows/D3D12_SM5/vf-ljeuznosfblk3yiimca.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto12_AutoPage_Long/Windows/D3D12_SM5/vf-ljeuznosfblk3yiimca.png
  readme.md
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

[AzurePipeline] Implement AZP_AGENT_ALLOW_WORK_DIRECTORY_REPOSITORIES
  .azure-pipelines/azure-pipelines.yml
  .azure-pipelines/editor/azure-pipelines.yml
  .editorconfig
Due: none

Merged PR 290: update to 5.5
  .gitignore
  Build/Android/src/com/epicgames/ue4/DownloadShim.java
  Build/Android/src/com/horizon/uidemo/DownloaderActivity.java
  Build/Android/src/com/horizon/uidemo/OBBData.java
  Config/DefaultEngine.ini
  Config/DefaultGame.ini
  Content/UMG/DialogueMsgTextTest/BugReport/WBP_DynamicSizeBox.uasset
  HorizonUIPluginDemo.uproject
  readme.md
  sonar-project.properties
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

Fix Automation script compile error
  Build/Script/HorizonUIPluginDemo.Automation/HorizonUIPluginDemo.Automation.csproj
Due: none

update to readme.md
  readme.md
Due: none

Merged PR 299: Upgrade to 5.6
  Config/DefaultEngine.ini
  Config/DefaultGame.ini
  HorizonUIPluginDemo.uproject
  readme.md
  sonar-project.properties
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

update automation test
  Config/DefaultEngine.ini
  Config/DefaultGame.ini
  Content/Maps/MainMap.umap
  Content/Maps/MainMap_BuiltData.uasset
  Test/Screenshots/UIScreenshotTestMap/BP_FunctionalUIScreenshotTest_BugReport_WBP_SizeToContent/Windows/D3D12_SM5/-p-ee4d1rku5qirgjxwqag.json
  Test/Screenshots/UIScreenshotTestMap/BP_FunctionalUIScreenshotTest_BugReport_WBP_SizeToContent/Windows/D3D12_SM5/-p-ee4d1rku5qirgjxwqag.png
  Test/Screenshots/UIScreenshotTestMap/BP_FunctionalUIScreenshotTest_BugReport_WBP_SizeToContent/Windows/D3D12_SM5/nk5f20eoyhq0wmgqdhkhra.json
  Test/Screenshots/UIScreenshotTestMap/BP_FunctionalUIScreenshotTest_BugReport_WBP_SizeToContent/Windows/D3D12_SM5/nk5f20eoyhq0wmgqdhkhra.png
  Test/Screenshots/UIScreenshotTestMap/BP_FunctionalUIScreenshotTest_BugReport_WBP_SizeToContent/Windows/D3D12_SM5/vf-ljeuznosfblk3yiimca.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto04_RichTextPadding/Windows/D3D12_SM5/nk5f20eoyhq0wmgqdhkhra.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto04_RichTextPadding/Windows/D3D12_SM5/nk5f20eoyhq0wmgqdhkhra.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto04_RichTextPadding/Windows/D3D12_SM5/vf-ljeuznosfblk3yiimca.png
  sonar-project.properties
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

Merged PR 310: [EngineUpgrade] 5.7
  Config/DefaultEngine.ini
  Config/DefaultGame.ini
  HorizonUIPluginDemo.uproject
  readme.md
  sonar-project.properties
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

[AutomationScript] Setup Default UNREAL_ENGINE_ROOT
  Build/Script/HorizonUIPluginDemo.Automation/HorizonUIPluginDemo.Automation.csproj
Due: none

[Workspace] Add initial workspace configuration file
  HorizonUIPluginDemo.code-workspace
Due: none

feat(jenkins): add BUILD_BRANCH parameter to UGSBuild
  .jenkins/Build/UGSBuild.Jenkinsfile
Due: none

refactor(jenkins): rename build*Root to build*ArtifactRoot in config.groovy
  .jenkins/config.groovy
Due: none

fix(ugs): UGSBuild pipeline with parallel producers, aggregate metadata, no test reports
  .jenkins/Build/UGSBuild.Jenkinsfile
  Build/Script/common.sh
Due: none

refactor(jenkins): rename Build UGS Producers to Build UGS PCB Producers
  .jenkins/Build/UGSBuild.Jenkinsfile
Due: none

fix(ugs): restore Set Build Name, sparse aggregate checkout, version from metadata
  .jenkins/Build/UGSBuild.Jenkinsfile
  Build/Script/common.sh
Due: none

[Jenkins][BugFix] Archive UGS NuGet package artifact (NO-TICKET)
  .jenkins/Build/UGSBuild.Jenkinsfile
Due: none

[Jenkins][Refactor] Use shared UGS artifact archive helper (NO-TICKET)
  .jenkins/Build/UGSBuild.Jenkinsfile
Due: none

[Jenkins][Refactor] Delegate UGSBuild orchestration to shared library (NO-TICKET)
  .jenkins/Build/UGSBuild.Jenkinsfile
Due: none

[UGS][BugFix] Make NuGet pack and push metadata-driven for sparse deploy (NO-TICKET)
  Build/Script/common.sh
Due: none

Jenkins: expand BuildMatrix with all plugin targets; bInstallPrerequisites=false
  .jenkins/Build/Development.Jenkinsfile
  .jenkins/README.md
Due: none

Jenkins: add bFailFast parameter (default false) for parallel branch fail-fast control
  .jenkins/Build/Development.Jenkinsfile
Due: none

Build: fix Win64 standalone gauntlet override path refs
  Build/Script/platform/win64/standalone/gauntlet/test_no_coverage.sh
  Build/Script/platform/win64/standalone/gauntlet/test_opencppcoverage.sh
Due: none

[Jenkins][Config] Add hordeToken placeholder to consumer config (NO-TICKET)
  .jenkins/config.groovy
Due: none

Build: fix InstalledBuild DLL reference paths in automation csproj
  Build/HorizonUIPluginDemo.Automation/HorizonUIPluginDemo.Automation.csproj
Due: none

Build: fix remaining InstalledBuild DLL paths in automation csproj
  Build/HorizonUIPluginDemo.Automation/HorizonUIPluginDemo.Automation.csproj
Due: none

[UGS][Feature] Add hordeGitStreamRepo for Horde stream ID (NO-TICKET)
  .jenkins/config.groovy
Due: none

Path conditions:
  .azure-pipelines/azure-pipelines.yml: any of: Source, Plugins, Content, *.uproject
  .azure-pipelines/editor/azure-pipelines.yml: any of: Source, Plugins, *.uproject
  .azure-pipelines/shipping/azure-pipelines.yml: any of: Source, Plugins, Content, *.uproject
