Repository dorgonman/HorizonUIPluginDemo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

.azure-pipelines/azure-pipelines.yml:
  name: $(Date:yyyyMMdd).$(Rev:.r)
  jobs:
  - template: job/verify-plugin-build.yml@templates
    parameters:
      bRunAutomationTest: true
      bCleanSCM: ${{ parameters.bCleanSCM }}
      bBuildWin64: ${{ parameters.bBuildWin64 }}
      bBuildAndroid: ${{ parameters.bBuildAndroid }}
  ...

.azure-pipelines/editor/azure-pipelines.yml:
  name: $(Date:yyyyMMdd).$(Rev:.r)
  stages:
  - stage: Build
    jobs:
    - template: job/build-game-editor.yml@templates
      parameters:
        name: Build_Win64_GameEditor
        group: ue4-build-var-win-group
        pool: Default
        platform: win64
        bCleanSCM: ${{ parameters.bCleanSCM }}
  ...

.azure-pipelines/shipping/azure-pipelines.yml:
  name: $(Date:yyyyMMdd).$(Rev:.r)
  jobs:
  - template: job/verify-plugin-build.yml@templates
    parameters:
      bRunAutomationTest: true
      bCleanSCM: ${{ parameters.bCleanSCM }}
      bBuildWin64: ${{ parameters.bBuildWin64 }}
      bBuildAndroid: ${{ parameters.bBuildAndroid }}
  ...

Merged PR 127: Fix UE5 Preview1 Auotmation Test error
  .gitignore
  Build/Script/HorizonUIPluginDemo.Automation/App.config
  Build/Script/HorizonUIPluginDemo.Automation/HelloWorld.Automation.cs
  Build/Script/HorizonUIPluginDemo.Automation/HorizonUIPluginDemo.Automation.csproj
  Build/Script/HorizonUIPluginDemo.Automation/HorizonUIPluginDemo.Automation.sln
  Build/Script/HorizonUIPluginDemo.Automation/HorizonUIPluginDemoTest.cs
  Config/DefaultEngine.ini
  Config/DefaultGame.ini
  Content/Maps/Decorator.umap
  Content/UMG/DialogueMsgTextTest/StyleInfo/BP_HorizonDialogueStyleInfo1.uasset
  Content/UMG/DialogueMsgTextTest/Tuto17_Decorator.uasset
  HorizonUIPluginDemo.uproject
  Source/HorizonUIPluginDemo.Target.cs
  Source/HorizonUIPluginDemo/HorizonUIPluginDemo.Build.cs
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto06_EventTrigger/Windows/D3D11_SM5/fro3_3qzi025mvmubs9dwg.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto06_EventTrigger/Windows/D3D11_SM5/fro3_3qzi025mvmubs9dwg.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto06_EventTrigger/Windows/D3D11_SM5/kiyyj_12zuyh3kcixi113g.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto06_EventTrigger/Windows/D3D11_SM5/kiyyj_12zuyh3kcixi113g.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto14_SpriteSheet/Windows/D3D11_SM5/fro3_3qzi025mvmubs9dwg.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto14_SpriteSheet/Windows/D3D11_SM5/fro3_3qzi025mvmubs9dwg.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto14_SpriteSheet/Windows/D3D11_SM5/kbp0izjnnegqx8o12ramvw.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto16_RubyText/Windows/D3D11_SM5/9602b57b4acdd5071e2b2be9daa50097.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto16_RubyText/Windows/D3D11_SM5/fro3_3qzi025mvmubs9dwg.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto16_RubyText/Windows/D3D11_SM5/fro3_3qzi025mvmubs9dwg.png
  sonar-project.properties
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

Merged PR 128: Fix UE5 automation error
  Config/DefaultGame.ini
  readme.md
Due: none

[Submodule] Update Plugins\HorizonUIPlugin
  readme.md
Due: none

Add BuildRecordJson for Automation
  Build/Script/HorizonUIPluginDemo.Automation/HorizonUIPluginDemo.Automation.json
Due: none

[AzurePipeline] Update
  .azure-pipelines/azure-pipelines.yml
  .azure-pipelines/editor/azure-pipelines.yml
Due: none

[AzurePipeline] Fix editor build
  .azure-pipelines/editor/azure-pipelines.yml
Due: none

[Demo] Implement SpaceDecorator and MsgReplace using CurveTable
  Content/UMG/DialogueMsgTextTest/DataTable/CT_Character_InitAttributeSet.csv
  Content/UMG/DialogueMsgTextTest/DataTable/CT_Character_InitAttributeSet.uasset
  Content/UMG/DialogueMsgTextTest/Decorator/BP_MsgReplaceCurveTableDecorator.uasset
  Content/UMG/DialogueMsgTextTest/Tuto17_Decorator.uasset
  HorizonUIPluginDemo.uproject
  ScreenShot/Decorator/Decorator_DialogueTextSpace.png
  ScreenShot/Decorator/Decorator_MsgReplaceCurveTable.png
  ScreenShot/Decorator/Decorator_MsgReplaceCurveTable_Result.png
  Source/HorizonUIPluginDemo/Private/Decorator/DemoDialogueMsgReplaceDecorator.cpp
  Source/HorizonUIPluginDemo/Public/Decorator/DemoDialogueMsgReplaceDecorator.h
  readme.md
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

Update Automation Test
  Config/DefaultEngine.ini
  Content/UMG/DialogueMsgTextTest/Tuto17_Decorator.uasset
  ScreenShot/Decorator/Decorator_DialogueTextSpace.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto17_Decorator/Windows/D3D11_SM5/i2nl-dfof0ilhyb3jwbj4g.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto17_Decorator/Windows/D3D11_SM5/i2nl-dfof0ilhyb3jwbj4g.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto17_Decorator/Windows/D3D11_SM5/kbp0izjnnegqx8o12ramvw.png
  readme.md
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

[Demo] Implement MsgSpaceDecorator
  Content/UMG/DialogueMsgTextTest/Decorator/BP_MsgSpaceDecorator.uasset
  Content/UMG/DialogueMsgTextTest/Tuto17_Decorator.uasset
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto17_Decorator/Windows/D3D11_SM5/i2nl-dfof0ilhyb3jwbj4g.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto17_Decorator/Windows/D3D11_SM5/pyt9zkyzt0o5m9mdbr_y4q.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto17_Decorator/Windows/D3D11_SM5/pyt9zkyzt0o5m9mdbr_y4q.png
  readme.md
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

[Version] Bump version to 5.0.1
  Config/DefaultGame.ini
  readme.md
Due: none

[Project] Disable Bridge plugin
  HorizonUIPluginDemo.uproject
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

Implement Blinker
  Content/Maps/MainMap.umap
  Content/SpriteSheet/Blinker/Blinker_Flipbook.uasset
  Content/SpriteSheet/Blinker/blinker1.uasset
  Content/SpriteSheet/Blinker/blinker1_Sprite.uasset
  Content/SpriteSheet/Blinker/blinker2.uasset
  Content/SpriteSheet/Blinker/blinker2_Sprite.uasset
  Content/TestMaps/Map/FunctionalTest/UIScreenshotTestMap.umap
  Content/UMG/DialogueMsgTextTest/Tuto04_RichTextPadding.uasset
  Content/UMG/DialogueMsgTextTest/WBP_Tuto20_Blinker.uasset
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

[Decorator] Add SpaceDecorator test for Chinese
  Content/UMG/DialogueMsgTextTest/Tuto17_Decorator.uasset
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

[AutomationTest] Add new test report screenshot
  Content/UMG/DialogueMsgTextTest/Decorator/BP_MsgSpaceDecorator.uasset
  Content/UMG/DialogueMsgTextTest/Tuto04_RichTextPadding.uasset
  Content/UMG/DialogueMsgTextTest/Tuto17_Decorator.uasset
  Content/UMG/DialogueMsgTextTest/WBP_Tuto20_Blinker.uasset
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto17_Decorator/Windows/D3D11_SM5/pyt9zkyzt0o5m9mdbr_y4q.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto17_Decorator/Windows/D3D11_SM5/yh-h8r15-eogcbkzxogjzg.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto17_Decorator/Windows/D3D11_SM5/yh-h8r15-eogcbkzxogjzg.png
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto20_Binlker/Windows/D3D11_SM5/yh-h8r15-eogcbkzxogjzg.json
  Test/Screenshots/UIScreenshotTestMap/FunctionalUIScreenshotTest_Tuto20_Binlker/Windows/D3D11_SM5/yh-h8r15-eogcbkzxogjzg.png
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

[Doc] Update readme.md
  Config/DefaultGame.ini
  readme.md
Due: none

[Demo][DialogueMsgTextBlock] Add Size to Content support
  Content/UMG/DialogueMsgTextTest/BugReport/WBP_SizeToContent.uasset
  readme.md
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

[Automation][DialogueMsgText] Add Automation Test for SizeToContent
  Content/TestMaps/Map/FunctionalTest/UIScreenshotTestMap.umap
  Content/UMG/DialogueMsgTextTest/BugReport/WBP_SizeToContent.uasset
  Test/Screenshots/UIScreenshotTestMap/BP_FunctionalUIScreenshotTest_BugReport_WBP_SizeToContent/Windows/D3D11_SM5/dxnzhxm9zkcilnjjklhd-a.json
  Test/Screenshots/UIScreenshotTestMap/BP_FunctionalUIScreenshotTest_BugReport_WBP_SizeToContent/Windows/D3D11_SM5/dxnzhxm9zkcilnjjklhd-a.png
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

[Demo][Automation] Add VerticalSlot Test
  Content/TestMaps/Map/FunctionalTest/UIScreenshotTestMap.umap
  Content/UMG/DialogueMsgTextTest/BugReport/WBP_SizeToContent.uasset
  Content/UMG/DialogueMsgTextTest/BugReport/WBP_VerticalSlot.uasset
  Test/Screenshots/UIScreenshotTestMap/BP_FunctionalUIScreenshotTest_BugReport_WBP_VerticalSlot/Windows/D3D11_SM5/xnmbstanwkw6ijik6q51kq.json
  Test/Screenshots/UIScreenshotTestMap/BP_FunctionalUIScreenshotTest_BugReport_WBP_VerticalSlot/Windows/D3D11_SM5/xnmbstanwkw6ijik6q51kq.png
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

[Doc] Update readme.md
  readme.md
Due: none

[Automation][DialogueTextBlock] Update Functional Test result
  Content/TestMaps/Map/FunctionalTest/UIScreenshotTestMap.umap
  Content/UMG/DialogueMsgTextTest/BugReport/WBP_SizeToContent.uasset
  Test/Screenshots/UIScreenshotTestMap/BP_FunctionalUIScreenshotTest_BugReport_WBP_SizeToContent/Windows/D3D11_SM5/dxnzhxm9zkcilnjjklhd-a.png
  Test/Screenshots/UIScreenshotTestMap/BP_FunctionalUIScreenshotTest_BugReport_WBP_SizeToContent/Windows/D3D11_SM5/snupjc7bfuwr0t93pyyarg.json
  Test/Screenshots/UIScreenshotTestMap/BP_FunctionalUIScreenshotTest_BugReport_WBP_SizeToContent/Windows/D3D11_SM5/snupjc7bfuwr0t93pyyarg.png
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

[Automation][DialogueTextBlock] Update for CanvasPanel, VerticalSlot and ScaleBoxSlot functional test
  Content/TestMaps/Map/FunctionalTest/UIScreenshotTestMap.umap
  Content/UMG/DialogueMsgTextTest/BugReport/WBP_SizeToContent.uasset
  Content/UMG/DialogueMsgTextTest/BugReport/WBP_VerticalSlot.uasset
  Content/UMG/DialogueMsgTextTest/Tuto09_Sound.uasset
  Content/UMG/DialogueMsgTextTest/Tuto11_AutoPage.uasset
  Test/Screenshots/UIScreenshotTestMap/BP_FunctionalUIScreenshotTest_BugReport_WBP_SizeToContent/Windows/D3D11_SM5/-p-ee4d1rku5qirgjxwqag.json
  Test/Screenshots/UIScreenshotTestMap/BP_FunctionalUIScreenshotTest_BugReport_WBP_SizeToContent/Windows/D3D11_SM5/-p-ee4d1rku5qirgjxwqag.png
  Test/Screenshots/UIScreenshotTestMap/BP_FunctionalUIScreenshotTest_BugReport_WBP_SizeToContent/Windows/D3D11_SM5/snupjc7bfuwr0t93pyyarg.png
  Test/Screenshots/UIScreenshotTestMap/BP_FunctionalUIScreenshotTest_BugReport_WBP_VerticalSlot/Windows/D3D11_SM5/-p-ee4d1rku5qirgjxwqag.json
  Test/Screenshots/UIScreenshotTestMap/BP_FunctionalUIScreenshotTest_BugReport_WBP_VerticalSlot/Windows/D3D11_SM5/-p-ee4d1rku5qirgjxwqag.png
  Test/Screenshots/UIScreenshotTestMap/BP_FunctionalUIScreenshotTest_BugReport_WBP_VerticalSlot/Windows/D3D11_SM5/xnmbstanwkw6ijik6q51kq.png
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

Merged PR 159: [Demo][TileView] Implement TileView demo for Reroute Input
  Config/DefaultEngine.ini
  Config/HoloLens/HoloLensEngine.ini
  Content/TestMaps/Map/FunctionalTest/UIScreenshotTestMap.umap
  Content/UMG/TileView/BP_ListViewItemObject.uasset
  Content/UMG/TileView/TileViewTestMap.umap
  Content/UMG/TileView/WBP_ListViewItemWidget.uasset
  Content/UMG/TileView/WBP_TileView.uasset
  Content/UMG/TileView/WBP_TileViewTestHUD.uasset
  Test/Screenshots/UIScreenshotTestMap/BP_FunctionalUIScreenshotTest_BugReport_WBP_TileViewTestHUD/Windows/D3D11_SM5/dtn7jcngbe2xxw2db-yn2a.json
  Test/Screenshots/UIScreenshotTestMap/BP_FunctionalUIScreenshotTest_BugReport_WBP_TileViewTestHUD/Windows/D3D11_SM5/dtn7jcngbe2xxw2db-yn2a.png
  readme.md
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

[Submodule] Update to 5.1.0
  HorizonUIPluginDemo.uproject
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

[Game][Automation] Fix TargetFramework to net6.0 for 5.1
  Build/Script/HorizonUIPluginDemo.Automation/HorizonUIPluginDemo.Automation.csproj
Due: none

Fix 5.1 compile warning
  Config/DefaultEngine.ini
  Config/DefaultGame.ini
  Source/HorizonUIPluginDemo.Target.cs
  Source/HorizonUIPluginDemoEditor.Target.cs
  sonar-project.properties
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

[Game] Fix compile error
  Source/HorizonUIPluginDemo/Private/Decorator/DemoDialogueInputIconDecorator.cpp
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

[Game] Fix Compile error
  Source/HorizonUIPluginDemo.Target.cs
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

Build automation project only in windows
  Build/Script/HorizonUIPluginDemo.Automation/HorizonUIPluginDemo.Automation.csproj
Due: none

disable strict include
  Source/HorizonUIPluginDemoEditor.Target.cs
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/editor/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

Fix Automation
  Build/Script/HorizonUIPluginDemo.Automation/HorizonUIPluginDemo.Automation.csproj
Due: none

Refactor Automation.csprojc using ${UNREAL_ENGINE_ROOT} env variable
  Build/Script/HorizonUIPluginDemo.Automation/HorizonUIPluginDemo.Automation.csproj
  Build/Script/HorizonUIPluginDemo.Automation/HorizonUIPluginDemo.Automation.json
  Build/Script/HorizonUIPluginDemo.Automation/HorizonUIPluginDemo.Automation.sln
Due: none

Fix ci build
  Build/Script/HorizonUIPluginDemo.Automation/HorizonUIPluginDemo.Automation.csproj
Due: none

Fix TileView Hover/Unhovered color
  Content/UMG/TileView/WBP_ListViewItemWidget.uasset
  Content/UMG/TileView/WBP_TileViewTestHUD.uasset
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/shipping/azure-pipelines.yml

Fix readme.md
  readme.md
Due: none

Path conditions:
  .azure-pipelines/azure-pipelines.yml: any of: Source, Plugins, Content, *.uproject
  .azure-pipelines/editor/azure-pipelines.yml: any of: Source, Plugins, *.uproject
  .azure-pipelines/shipping/azure-pipelines.yml: any of: Source, Plugins, Content, *.uproject
